@page
@model Straub_Bernadette_Lab8.Pages.Dishes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Dish[0].PublishingDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].DishIngredients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DishD.Dishes)
        {
            string selectedRow = "";
            if (item.ID == Model.DishID)
            {
                selectedRow = "table-success";
            }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @{
                    foreach (var ingredient in item.DishIngredients)
                    {
                        @ingredient.Ingredient.ID @: @ingredient.Ingredient.IngredientName <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
